    #div1 {
      /* background: rgb(26, 24, 56);
        background: linear-gradient(217deg, rgba(26, 24, 56, 1) 0%, rgba(250, 161, 208, 0.3) 0%, rgba(201, 201, 201, 1) 100%, rgba(0, 212, 255, 0.3) 100%); */
      overflow: hidden;
      z-index: 3;
      /* //防止被遮挡调到最大值 */
      position: fixed;
      width: 50%;
      height: 12%;
      right: 50px;
      /* //距离左边距离右边同理 */
      bottom: 30px;
      /* //距离顶部距离 */
      text-align: center;
      color:aliceblue;
      font-family: Alex Brush;
      font-size: 20px;
      border-radius: 0.5em 0.5em 0.5em 0.5em;
    }


/*唱片部分*/
.cd {
  width: 422px;
  height: 422px;
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 2;
  border-radius: 50%;
  border: 10px solid #FFF;
  box-shadow: 5px 5px 15px #000;
  background: url(images/ys03.png) no-repeat;
  background-size: cover;
}

.center {
  width: 100px;
  height: 100px;
  background-color: #dbb4d5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 3;
  border: 5px solid #FFF;
  background-image: url(images/dc.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

/*歌词部分*/
.song {
  position: absolute;
  top: 15%;
  left: 50%;
}

h2 {
  font-family: Kaushan Script;
  font-size: 2em;
  color: #ffffff;
}

p {
  color:rgb(50, 12, 69);
  width: 556px;
  height: 300px;
  font-family: Kaushan Script;;
  padding-left: 30px;
  line-height: 34px;
  background: rgb(26, 24, 56);
    background: linear-gradient(217deg, rgba(26, 24, 56, 1) 0%, rgba(250, 161, 208, 0.3) 0%, rgba(201, 201, 201, 1) 100%, rgba(0, 212, 255, 0.3) 100%);
  box-sizing: border-box;
}

audio{
  position:absolute;
}

        